@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Tangerine', cursive;
    --fonte4: 'Indie Flower', cursive;
    --fonte5: 'Gloock', serif;
    --cor1: #031cfc4d;
    --cor2: #fdf5e6c0;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-image: linear-gradient(to bottom,rgba(49, 127, 230, 0.432), var(--cor2));
    color: white;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.753);
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte5);
    font-size: 4.8em;
}

header > p{
    padding-bottom: 50px;
    font-family: var(--fonte5);
    font-size: 2.5em;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 7vh;
    padding-bottom: 7vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3em;
}

section > p{
    padding-bottom: 2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}

section.normal{
    background-color: #fdf5e6c0;
    color: black;
}

section.imagem{
    background-color: rgba(78, 77, 77, 0.466);
    color: white;
    box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.459);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}